@use "var";
@use "font";

* {
  margin: 0;
}

body {
  font-family: font.$font-family-open-sans;

  background-color: var.$background;
}

.header {
  &__menu {
    font-family: font.$font-family-open-sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var.$white;
  }
  &__button {
    width: 24px;
    height: 24px;
    &._search {
      mask-image: url(../IMG/search.svg);
      -webkit-mask-image: url(../IMG/search.svg);
    }
    &._log-in {
      mask-image: url(../IMG/log-in.svg);
      -webkit-mask-image: url(../IMG/log-in.svg);
    }
  }
}
