@use "var";
@use "font";

* {
  margin: 0;
}

body {
  font-family: font.$font-family-cormorant;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var.$background;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  // padding: 0 165px;
  padding: 0 clamp(33px, -0.295rem + 11.79vw, 165px);
  @media (max-width: 320px) {
    padding: 0 33px;
  }
}

button {
  padding: 0;
}

a {
  text-decoration: none;
}
button,
a:hover {
  cursor: url(../IMG/cursor-pointer-white.png), auto;
}

li {
  list-style-type: none;
}

h2 {
  font-family: font.$font-family-cormorant;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var.$white;
  padding-bottom: 8px;
}

h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  font-family: font.$font-family-cormorant;
}
.next__button {
  font-family: font.$font-family-open-sans;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  gap: 11px;
}

.text {
  font-family: font.$font-family-open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 18px 0;
  width: 100%;
  z-index: 2;
  background-color: var.$background;
  box-sizing: border-box;
  @media (max-width: 1439px) {
    justify-content: space-between;
  }
  &__logo {
    size: 65px 20px;
    padding-right: 125px;
    @media (max-width: 1439px) {
      padding-right: 109px;
    }
  }
  &__menu {
    display: flex;
    gap: clamp(32px, 1.429rem + 2.86vw, 64px);
    font-family: font.$font-family-open-sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var.$white;
    padding-right: 298px;
    @media (max-width: 1439px) {
      padding-right: 50px;
    }
    @media (max-width: 1052px) {
      order: 3;
    }
    @media (max-width: 720px) {
      top: 75px;
      gap: 32px;
      position: absolute;
      overflow-x: hidden;
    }
  }
  &__container {
    display: flex;
    @media (max-width: 1052px) {
      order: 2;
    }
  }
  &__button {
    width: 24px;
    height: 24px;
    background-color: var.$primary-green;
    &._search {
      width: 24px;
      height: 24px;
      margin-right: 64px;
      mask-image: url(../IMG/search.svg);
      mask-repeat: no-repeat;
      -webkit-mask-image: url(../IMG/search.svg);
      @media (max-width: 720px) {
        margin-right: 32px;
      }
    }
    &._log-in {
      mask-image: url(../IMG/log-in.svg);
      mask-repeat: no-repeat;
      -webkit-mask-image: url(../IMG/log-in.svg);
    }
  }
}

.banner {
  position: relative;
  padding: 115px 165px 116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media (max-width: 720px) {
    padding: 68px 165px 32px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../IMG/1_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var.$background;
    opacity: 0.7;
    z-index: -1;
  }
  &__h1 {
    max-width: 688px;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: var.$white;
    font-family: font.$font-family-cormorant;
    margin-bottom: 21px;
    @media (max-width: 720px) {
      font-size: 48px;
      margin-bottom: 30px;
    }
  }
  &__text {
    max-width: 635px;
    color: var.$white;
    margin-bottom: 24px;
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__button {
    color: var.$primary-green;
  }
}

.cards {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 255px);
  gap: min(30px, 1vw);
  z-index: 3;
  margin-top: 60px;
  box-sizing: border-box;
  width: 100%;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 255px);
    #card-4 {
      display: none;
    }
  }
  @media (max-width: 1015px) {
    grid-template-columns: repeat(2, 255px);
    justify-content: center;
    #card-3 {
      display: none;
    }
  }
  @media (max-width: 700px) {
    grid-template-columns: 255px;
    #card-2 {
      display: none;
    }
  }

  &__item {
    border: 1px solid var.$background-shade;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__container {
    padding: 15.5px 15px 26.5px;
    box-sizing: border-box;
    &._img {
      background: var.$background-shade;
    }
  }
  &__icon {
    font-family: font.$font-family-cormorant;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var.$grey;
    position: absolute;
    border: 1px solid var.$grey;
    border-radius: 100%;
    padding: 0 3px 2px;
  }
  &__img {
    padding-top: 13px;
    background: var.$background-shade;
  }
  &__text {
    color: var.$grey;
  }
  &__button {
    max-width: 145px;
    font-family: font.$font-family-open-sans;
    font-weight: 400;
    font-size: 16px;
    color: var.$primary-green;
    line-height: 150%;
    border: 1px solid var.$primary-green;
    padding: 10.5px 28.5px;
    background-color: rgba(255, 255, 255, 0);
    margin: -12px 15px 22px;
    box-sizing: border-box;
  }
}

.slider {
  display: flex;
  font-family: font.$font-family-cormorant;
  gap: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var.$white;
  margin-top: 26px;
  margin-bottom: 57px;
  @media (max-width: 320px) {
    gap: 20px;
  }
  &__button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @media (max-width: 320px) {
      display: none;
    }
  }
  &__text {
    @media (max-width: 320px) {
      display: none;
    }
  }
  .page__button {
    width: 10px;
    height: 10px;
    background-color: var.$background-shade;
    border-radius: 50%;
    border: none;
    display: none;
    @media (max-width: 320px) {
      display: block;
    }
  }
  ._current-button {
    background-color: var.$primary-green;
    ;
  }
}

.new-artefacts {
  margin-bottom: 60px;
  &__h3 {
    color: var.$white;
    margin-bottom: 30px;
  }
  &__container {
    display: flex;
    gap: 30px;
  }
  &__table {
    width: 825px;
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: 150px 293px;
    background: var.$background-shade;
    padding: 16px;
    gap: 18px 0;
    .art1 {
      position: relative;
      grid-column: 1 / 2;
      width: 126px;
    }
    .art2 {
      position: relative;
      grid-column: 2 / 3;
      width: 226px;
      left: 15px;
    }
    .art3 {
      position: relative;
      grid-column: 3 / 5;
      width: 440px;
      left: 2px;
    }
    .art4 {
      position: relative;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 334px;
    }
    .art5 {
      position: relative;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      width: 153px;
      left: 135px;
    }
    .art6 {
      position: relative;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      width: 195px;
      left: 96px;
    }
    .art7 {
      position: relative;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      width: 118px;
      left: 40px;
    }
  }
  &__icon {
    font-family: "Cormorant", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #899d9d;
    position: absolute;
    border: 1px solid #899d9d;
    border-radius: 100%;
    padding: 0 3px 2px;
  }
  ._icon1 {
    top: 126px;
  }
  ._icon2 {
    right: 43px;
  }
  ._icon3 {
    top: 35px;
    left: 130px;
  }
  ._icon4 {
    left: 141px;
    bottom: 83px;
  }
  ._icon5 {
    bottom: 1px;
    left: 109px;
  }
  ._icon6 {
    right: 30px;
    top: 0;
  }
  ._icon7 {
    bottom: 1px;
    right: 40px;
  }
  .art__img {
    position: absolute;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 493px;
    background: var.$primary-green;
    padding: 16px 16px 24px;
    box-sizing: border-box;
    &__text {
      color: var.$green-text;
    }
    &__button {
      color: var.$background-shade;
    }
    &__button:hover {
      cursor: url(../IMG/cursor-pointer-black.png), auto;
    }
  }
  &__h2 {
    color: var.$background;
  }
}

.help-project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0 61px;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../IMG/help-project/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var.$background;
    opacity: 0.7;
    z-index: -1;
  }
  &__h3 {
    color: var.$white;
  }
  &__text {
    max-width: 825px;
    color: var.$white;
    margin: 16px 0 24px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__textbox {
    width: 350px;
    box-sizing: border-box;
    font-family: font.$font-family-open-sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 10.5px 16px;
    margin-bottom: 24px;
    border: none;
    background: var.$white;
    &::-webkit-input-placeholder {
      color: var.$grey;
    }
    &:-moz-placeholder {
      color: var.$grey;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: var.$grey;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: var.$grey;
    }
    &::-ms-input-placeholder {
      color: var.$grey;
    }
    &::placeholder {
      color: var.$grey;
    }
  }
  &__button {
    width: 145px;
    padding: 11.5px 27px;
    background: var.$primary-green;
    font-family: font.$font-family-open-sans;
    font-weight: 700;
    font-size: 16px;
    color: var.$background-shade;
    border: none;
    box-sizing: border-box;
    background: var.$primary-green;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background: var.$background-shade;
  .social {
    display: flex;
    padding: 14px 0;
    justify-items: center;
    gap: 30px;
  }
  ._youtube {
    padding-left: 1px;
    padding-top: 4px;
  }
  .copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3px 0;
    font-family: font.$font-family-open-sans;
    font-weight: 400;
    font-size: 12px;
    color: var.$grey;
    background-color: var.$background;
  }
}
